.pr-tree .p-treenode-content {
    padding-top: 0;
    padding-bottom: 0;
}

.p-treenode-label {
    white-space: nowrap;
    font-weight: bold;
}

.p-treenode-label .info {
    font-weight: normal;
    font-style: italic;
}

.pr-tree .p-treenode {
    padding-top: 0;
    padding-bottom: 0;
}

.pi-play-circle.p-treenode-icon {
    color: darkgreen;
}

.pi-times-circle.p-treenode-icon {
    color: darkred;
}

.pi-spinner-dotted.p-treenode-icon {
    color: darkgoldenrod;
}